body {
    width: 100%;
}

table {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 25%;
    width: 90%;
    border-collapse: collapse;
    box-shadow: 4px 4px 8px rgba(5, 0, 0, 0.968);
    justify-self: center;
    border-radius: 5px;
}

thead {
    font-size: medium;
    background-color: var(--third-color);
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    height: 35px;
}

tbody {
    font-size: medium;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    height: 30px;
    text-align: center;
}

h1 {
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 75px;
    background-color:var(--secondary-color);
    color: white;
    margin-top:0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    height: 50px;
    width: 100%;
    background-color: var(--theme-color);
    color: white;
}

.bigdiv {
    width: 97%;
    box-shadow: 4px 4px 8px rgba(5, 0, 0, 0.968);
    height: auto;
}

h3 {
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 68px;
    background-color:var(--secondary-color);
    color: white;
    margin-bottom: 0px;
    margin-top:0px;
}
